* {
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: yellowgreen;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 15px;
}

#quiz-box {
    padding: 10px 0 15px 0;
    width: 30%;
}

button:hover, 
.submit-button:hover {
    background-color: yellowgreen;
}


button {
    width: 100%;
    text-align: center;
    display: inline-flexbox;
    padding: 10px 0 15px 0;
    margin: 5px;
}

.submit-button, 
#restart {
    width: 25%;
    text-align: center;
    padding: 5px;
    margin: 5px;
}


#timer {
    font-size: 50px;
}

.start-btn, 
.show-btn {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 5px 0 20px 0;
}

.hide {
    display: none;
}

